body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    display: flex;
    flex-direction: column;
}

.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 32px;
}

li, a{
    text-decoration: none;
    list-style: none;
    color: white;
}
.links{
    display: flex;
    gap: 24px;
}

.container{
    color: white;
    background-color: rgb(19, 19, 100);
}

.intro {
  display: flex;
    justify-content: center;         /* horizontal alignment */
  align-items: center;            /* vertical alignment */
  padding: 64px;
  gap: 40px;
}

button{
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    font-size: 16px;
    border: none;
    border-radius: 8px;
    padding: 10px 21px;
    cursor: pointer;
    border: 1px solid rgb(200, 200, 200);
}

.content{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 4px;}

.card {
    border: 1px solid black;
    border-radius: 8px;
    padding: 16px;
    margin: 16px;
    background-color: white;
    color: black;
    width: 200px;
    text-align: center;
}

.quote{
    font-style: italic;
    margin-bottom: 8px;
    background-color: lightgray;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px;
}
.footer{
    background-color: rgb(30, 30, 150);
    color: white;
    text-align: center;
    padding:16px;
    margin-top: auto;
}

.signup{
    display: flex;
    justify-content: center;
    align-items: center;
}
.signup-box{
    display: flex;
    background-color: rgb(30, 30, 150);
    flex-direction: column;
    gap: 16px;
    align-items: center;
    padding: 32px;
    border-radius: 40px;
    color: white;
    margin: 32px;
    
}